body {
    background-color: peachpuff;
    font-family: 'Rubik', sans-serif;
}

div.container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 800;
    color:sienna;
}

div.game-window {
    background-color: white;
    border: 0px;
    border-radius: 30px;
    display: flex;
    box-shadow: 0px 0px 20px sienna;
    height: fit-content;
    width: fit-content;
    gap: 20px;
    margin: auto;
    padding: 30px;
}

.choice.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-weight: 500;
}

.weapons{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px;
}

button.weapon {
    border-radius: 60px;
    border: 4px solid blanchedalmond;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

button:hover {
    background-color: blanchedalmond;
    font-style: italic;
}

img {
    height: 130px;
}

h3 {
    font-size: large;
    font-weight: 600;
    color: sienna;
}

div.score {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.choice.computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice_display {
    display: flex;
    flex-direction: column;
    align-items: center;
}